<template>
  <div>
    <b-button v-b-modal.modal-1>Cart(0)</b-button>

    <b-modal id="modal-1" title="Cart">
      <p class="my-4">Hello from modal!</p>
    </b-modal>
  </div>
</template>

<script>
</script>
