<template>
  <v-row>
    <v-col>
      <br>
      <h2 class="text-center">Cart</h2>
      <br />
      <v-data-table
        :headers="headers"
        :items="products"
        :options.sync="options"
        :loading="loading"
        disable-sort
        disable-filtering
        disable-pagination
        hide-default-footer
        class="elevation-1"
      >
        <template #[`item.name`]="{ item }">
          {{ item.product.name}}
        </template>
        <template #[`item.actions`]="{ item }">
          <div>
            <v-btn small @click="addProductToCart(item.id)">
              <v-icon>mdi-plus</v-icon>
              Добавить в корзину.
            </v-btn>
          </div>
        </template>
        <template #[`item.price`]="{ item }">
          {{ item.product.price * item.count }} руб.
        </template>
        <template #[`item.count`]="{ item }">
          <div style="display:flex; align-items: center">
            <v-btn icon @click="removeCountProduct(item.id)">
                <v-icon>mdi-minus</v-icon>
              </v-btn>

              <span> {{item.count}} </span>

              <v-btn icon @click="addCountProduct(item.id)">
                <v-icon>mdi-plus</v-icon>
              </v-btn>
          </div>
        </template>
        <template #[`item.delete`]="{ item }">
          <v-btn depressed color="error" @click="removeProductCart(item.id)">
            <v-icon>mdi-delete</v-icon>
          </v-btn>
        </template>
      </v-data-table>
      <br />
      <v-btn block color="success" >Оформить заказ</v-btn>
    </v-col>
  </v-row>
</template>

<script>
export default {
  middleware: 'auth',
  data() {
    return {
      products: [],
      options: [],
      totalProducts: 0,
      headers: [
        { text: 'id', value: 'id', width: 50},
        { text: 'Name', value: 'name' },
        { text: 'Price', value: 'price', width: 180 },
        { text: 'Count', value: 'count', width: 150},
        { text: 'Delete', value: 'delete', width: 120},
      ],
    }
  },
  watch: {
    options: {
      handler () {
        this.getDataFromApi()
      },
      deep: true,
    },
  },
  methods: {
    getDataFromApi () {
      this.loading = true
      this.ApiCall().then(data => {
        this.products = data.result.cart_items
        this.loading = false
      })
    },
    /**
     * In a real application this would be a call to fetch() or axios.get()
     */
    ApiCall () {
      return new Promise((resolve, reject) => {
        const {sortBy, sortDesc, page, itemsPerPage } = this.options
        const sort = sortDesc[0] ? "-"+sortBy[0] : sortBy[0]
        let count = 0
        if (itemsPerPage === -1) {
          count = 10000000000
        }else{
          count = itemsPerPage
        }
        const params = {
          limit: count,
          offset: itemsPerPage*(page-1),
          ordering: sort,
          search: this.search
        }
        this.$axios.get('api/carts/1/', { params }).then(response => {
          resolve({
            result: response.data,
          })
        })
      })
    },
    removeProductCart(item){
      const data = {
        cart_item_id: item
      }
      this.$axios
        .post('api/carts/1/remove_product/', { data })
        .then(response => {
          alert(response.data.status)
          this.products = response.data.cart.cart_items
        })
        .catch(error => {
          alert(`Error added tovar to cart.\n${error}`)
        })
    },
    addCountProduct(item){
      const data = {
        cart_item_id: item,
      }
      this.$axios
        .post('api/carts/1/add_count/', { data })
        .then(response => {
          this.products = response.data.cart.cart_items
        })
        .catch(error => {
          alert(`Error added tovar to cart.\n${error}`)
        })
    },
    removeCountProduct(item){
      const data = {
        cart_item_id: item,
      }
      this.$axios
        .post('api/carts/1/remove_count/', { data })
        .then(response => {
          this.products = response.data.cart.cart_items
        })
        .catch(error => {
          alert(`Error added tovar to cart.\n${error}`)
        })
    },
  }
}
</script>

<style>
.v-text-field__slot>input{
  text-align: center;
}
</style>
