<template>
  <div>
    <br>
    <h2 class="text-center">Catalog</h2>
    <v-card-title>
      <v-text-field
        v-model="search"
        append-icon="mdi-magnify"
        label="Поиск"

        @change="getDataFromApi()"
      ></v-text-field>
    </v-card-title>
    <v-data-table
      :headers="headers"
      :items="products"
      :options.sync="options"
      :loading="loading"
      :footer-props="footerprops"
      fixed-header
      class="elevation-1"
    >
      <template #[`item.actions`]="{ item }">
        <div>
          <v-btn small @click="addProductToCart(item.id)">
            <v-icon>mdi-plus</v-icon>
            Добавить в корзину.
          </v-btn>
        </div>
      </template>
      <template #[`item.price`]="{ item }">
        {{ item.price }} руб.
      </template>
    </v-data-table>
  </div>
</template>


<script>
  export default {
    middleware: 'auth',
    data () {
      return {
        search: undefined,
        totalDesserts: 0,
        products: [],
        loading: true,
        options: {},
        footerprops: {
          itemsPerPageOptions: [10, 100, 200, -1]
        },
        headers: [
          {
            text: 'id', value: 'id' },
          { text: 'Name', value: 'name' },
          { text: 'Price', value: 'price' },
          { text: 'Actions', value: 'actions', width: 300},
        ],
      }
    },
    watch: {
      options: {
        handler () {
          this.getDataFromApi()
        },
        deep: true,
      },
    },
    methods: {
      getDataFromApi () {
        this.loading = true
        this.ApiCall().then(data => {
          this.products = data.result
          // this.totalDesserts = data.count
          this.loading = false
        })
      },
      /**
       * In a real application this would be a call to fetch() or axios.get()
       */
      ApiCall () {
        return new Promise((resolve, reject) => {
          const {sortBy, sortDesc, page, itemsPerPage } = this.options
          const sort = sortDesc[0] ? "-"+sortBy[0] : sortBy[0]
          let count = 0
          if (itemsPerPage === -1) {
            count = 10000000000
          }else{
            count = itemsPerPage
          }
          const params = {
            limit: count,
            offset: itemsPerPage*(page-1),
            ordering: sort,
            search: this.search
          }
          this.$axios.get('/api/products/', { params }).then(response => {
            resolve({
              result: response.data,
            })
          })
        })
      },
      addProductToCart(productId) {
        const data = {
          product_id: productId,
        }
        this.$axios
          .post('/api/carts/1/add_product/', { data })
          .then(response => {
            alert(response.data.status)
          })
          .catch(error => {
            alert(`Error added tovar to cart.\n${error}`)
          })
      }
    }
  }
</script>

<style>

</style>
