<template>
  <v-row class="d-flex justify-center align-center row-height">
    <v-col md="4">
      <v-card>
        <v-card-text>
          <v-text-field
            v-model="username"
            label="Username"
            required
          ></v-text-field>
          <v-text-field
            v-model="password"
            :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
            :type="show1 ? 'text' : 'password'"
            name="input-10-1"
            label="Password"
            required
            @change="login()"
            @click:append="show1 = !show1"
          ></v-text-field>
          <v-btn color="success" class="mt-3" @click="login()">Вход</v-btn>
        </v-card-text>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
  layout: 'login',
  data() {
    return {
      username: '',
      show1: false,
      password: '',
      rules: {
        required: (value) => !!value || 'Required.',
      },
    }
  },
  methods: {
    async login() {
      const data = {
        username: this.username,
        password: this.password,
      }
      try {
        await this.$auth.loginWith('local', { data })
        location.replace('/')
      } catch (err) {
        alert(err)
      }
    },
  },
}
</script>

<style scoped>
.row-height {
  height: 100vh;
}
</style>
