<template>
  <v-app>
    <v-app-bar app>
      <v-tabs>
        <v-tab v-for="(item, i) in items" :key="i" :to="item.to">{{
          item.title
        }}</v-tab>
      </v-tabs>
      <v-spacer />
      <v-menu>
        <template #activator="{ on, attrs }">
          <v-btn icon v-bind="attrs" v-on="on">
            <v-icon>mdi-dots-vertical</v-icon>
          </v-btn>
        </template>
        <v-list>
          <v-list-item v-if="!auth.loggedIn" to="/login">
            <v-list-item-title>Вход</v-list-item-title>
          </v-list-item>
          <v-list-item v-else @click="logout()">
            <v-list-item-title>Выход</v-list-item-title>
          </v-list-item>
        </v-list>
      </v-menu>
    </v-app-bar>
    <v-main>
      <v-container>
        <Nuxt />
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
import { mapState } from 'vuex'

export default {
  data() {
    return {
      drawer: false,
      fixed: false,
      clipped: true,
      items: [
        {
          icon: 'mdi-home',
          title: 'Home',
          to: '/',
        },
        {
          icon: 'mdi-cart',
          title: 'Cart',
          to: '/cart',
        },
      ],
      miniVariant: true,
      rightDrawer: false,
      title: 'E shop',
    }
  },
  computed: {
    ...mapState(['auth']),
  },
  methods: {
    async logout() {
      await this.$auth.logout(/* .... */)
      alert('Exit')
    },
  },
}
</script>
